body {
  background-color:  black;
  font-family:       "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  color:             white;
  font-weight:       bold;
  margin:            20px 10% auto;
}

h1 {
  line-height:  1.1;
  font-size:    4rem;
  font-weight:  normal;
}

.insult {
  font-size:      3rem;
  color:          green;
  line-height:    1.1;
  margin-bottom:  2rem;
}

button {
  -moz-user-select:     none;
  -ms-touch-action:     manipulation;
  -ms-user-select:      none;
  -webkit-user-select:  none;
  background-color:     #2a9fd6;
  background-image:     none;
  border-color:         #2a9fd6;
  border-radius:        4px;
  border-radius:        6px;
  border:               1px solid transparent;
  color:                white;
  cursor:               pointer;
  display:              inline-block;
  font-size:            2rem;
  line-height:          1.3333333;
  line-height:          1.42857143;
  margin-bottom:        0;
  padding:              14px 16px;
  padding:              8px 12px;
  text-align:           center;
  touch-action:         manipulation;
  user-select:          none;
  vertical-align:       middle;
  white-space:          nowrap;
}


